body {
    margin: 0;
    background-color: #1B244A;
}

/* typography */
p,
h3{
    margin: 0;
}

h3{
    margin-right: auto;
}

.team{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #EEEEEE;
}

.score,
.counter{
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.score{
    font-weight: 400;
    font-size: 90px;
    color: #F94F6D;
}

.counter{
    font-weight: 400;
    font-size: 18px;
    color: #9AABD8;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: 340px;
    border: #F94F6D solid 2px;
    padding: 68px 82px;
    margin: 0 auto;
    gap: 55px;
}

.home,
.guest{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h3{
    margin-left: auto;
}

.score{
    background: #080001;
    width: 155px;
    padding: 15px 20px;
}

.counter{
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    gap: 20px
}

.add-one,
.add-two,
.add-three{
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 8px 10px;
}
